﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <span class="icon-menu2"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/Event/InsertOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Event</h2>
            <button type="submit" value="/Event/InsertOne" class="tile">
                <span class="icon-disk"></span>
                <span class="screen-reader-text">Insert One</span>
            </button>
            <a href="/Event/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="Event-Name">Naam</label>
                <input id="Event-Name" name="Event-Name" type="text" value="" required />
            </div>
            <div>
                <label for="Event-Location">Location</label>
                <input id="Event-Location" name="Event-Location" type="text" value="" required />
            </div>
            <div>
                <label for="Event-StartTime">StartTime</label>
                <input id="Event-StartTime" name="Event-StartTime" type="date" value="" />
            </div>
            <div>
                <label for="Event-EndTime">EndTime</label>
                <input id="Event-EndTime" name="Event-EndTime" type="date" value="" />
            </div>
            <div>
                <label for="Event-Image">Image</label>
                <input id="Event-Image" name="Event-Image" type="text" value="" required />
            </div>
            <div>
                <label for="Event-Desc">Description</label>
                <textarea id="Event-Desc" name="Event-Desc" type="text" value="" required></textarea>
            </div>
            <div>
                <label for="Event-OrganiserName">Organiser</label>
                <input id="Event-OrganiserName" name="Event-OrganiserName" type="text" value="" required />
            </div>
            <div>
                <label for="Event-OrganiserDesc">Organiser Description</label>
                <textarea id="Event-OrganiserDesc" name="Event-OrganiserDesc" type="text" value="" required ></textarea>
            </div>
            <div>
                <label for="Event-EventCategoryId">EventCategory</label>
                <select id="Event-EventCategoryId" name="Event-EventCategoryId">
                    @foreach (var item in ViewBag.EventCategory)
                    {
                        <option value="@item.Id">
                    @item.Name
                        </option>
                    }
                </select>
            </div>
            <div>
                <label for="Event-EventTopicId">EventTopic</label>
                <select id="Event-EventTopicId" name="Event-EventTopicId">
                    @foreach (var item in ViewBag.EventTopic)
                    {
                        <option value="@item.Id">
                    @item.Name
                        </option>
                    }
                </select>
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>
