﻿
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<div class="control-panel">
    <a href="/Home/Index" class="tile _14x1">
        <span class="icon-menu2"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1>Fric-frac</h1>
</div>
<form class="show-room entity" action="/Event/Index" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Event</h2>
            <a href="/Event/UpdatingOne/@Model.Id" class="tile">
                <span class="icon-pencil"></span>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/Event/InsertingOne" class="tile">
                <span class="icon-plus"></span>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a href="/Event/DeleteOne/@Model.Id" class="tile">
                <span class="icon-remove"></span>
                <span class="screen-reader-text">Delete One</span>
            </a>
            <a href="/Event/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="Event-Name">Naam</label>
                <span>@Model.Name</span>
            </div>
            <div>
                <label for="Event-Location">Location</label>
                <span>@Model.Location</span>
            </div>
            <div>
                <label for="Event-StartTime">StartTime</label>
                <span>@Model.Starts</span>
            </div>
            <div>
                <label for="Event-EndTime">EndTime</label>
                <span>@Model.Ends</span>
            </div>
            <div>
                <label for="Event-Image">Image</label>
                <span>@Model.Image</span>
            </div>
            <div>
                <label for="Event-Desc">Description</label>
                <span>@Model.Description</span>
            </div>
            <div>
                <label for="Event-OrganiserName">Organiser</label>
                <span>@Model.OrganiserName</span>
            </div>
            <div>
                <label for="Event-OrganiserDesc">Organiser Description</label>
                <span>@Model.OrganiserDescription</span>
            </div>
            <div>
                <label for="Event-EventCategoryId">EventCategory</label>
                <span>@Model.EventCategory.Name</span>
            </div>
            <div>
                <label for="Event-EventTopicId">EventTopic</label>
                <span>@Model.EventTopic.Name</span>
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>
