﻿
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <span class="icon-menu2"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1>Fric-frac</h1>
</nav>
<form class="show-room entity" action="/Event/UpdateOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Event</h2>
            <button type="submit" class="tile">
                <span class="icon-disk"></span>
                <span class="screen-reader-text">Update One</span>
            </button>
            <a href="/Event/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <input type="hidden" id="Event-Id" name="Event-Id" value="@Model.Id" />
        <div>
            <label for="Event-Name">Naam</label>
            <input id="Event-Name" name="Event-Name" type="text" value="@Model.Name" required />
        </div>
        <div>
            <label for="Event-Location">Location</label>
            <input id="Event-Location" name="Event-Location" type="text" value="@Model.Location" required />
        </div>
        <div>
            <label for="Event-StartTime">StartTime</label>
            <input id="Event-StartTime" name="Event-StartTime" type="date" value="@Model.Starts.ToString("yyyy-MM-dd")" />
        </div>
        <div>
            <label for="Event-EndTime">EndTime</label>
            <input id="Event-EndTime" name="Event-EndTime" type="date" value="@Model.Ends.ToString("yyyy-MM-dd")" />
        </div>
        <div>
            <label for="Event-Image">Image</label>
            <input id="Event-Image" name="Event-Image" type="text" value="@Model.Image" required />
        </div>
        <div>
            <label for="Event-Desc">Description</label>
            <textarea id="Event-Desc" name="Event-Desc" type="text" value="@Model.Description" required></textarea>
        </div>
        <div>
            <label for="Event-OrganiserName">Organiser</label>
            <input id="Event-OrganiserName" name="Event-OrganiserName" type="text" value="@Model.OrganiserName" required />
        </div>
        <div>
            <label for="Event-OrganiserDesc">Organiser Description</label>
            <textarea id="Event-OrganiserDesc" name="Event-OrganiserDesc" type="text" value="@Model.OrganiserDescription" required></textarea>
        </div>
        <div>
            <label for="Event-EventCategoryId">EventCategory</label>
            <select id="Event-EventCategoryId" name="Event-EventCategoryId">

                @foreach (var item in ViewBag.EventCategory)
                {
                    <option value="@item.Id"
                            selected="@(item.Id == Model.EventCategoryId ? true : false)">
                        @item.Name
                    </option>
                }
            </select>
        </div>
        <div>
            <label for="Event-EventTopicId">EventTopic</label>
            <select id="Event-EventTopicId" name="Event-EventTopicId">


                @foreach (var item in ViewBag.EventTopic)
                {
                    <option value="@item.Id"
                            selected="@(item.Id == Model.EventTopicId ? true : false)">
                        @item.Name
                    </option>
                }
            </select>
        </div>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>
