﻿
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <span class="icon-menu2"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/EventTopic/Index" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">EventTopic</h2>
            <a href="/EventTopic/InsertingOne" class="tile">
                <span class="icon-plus"></span>
                <span class="screen-reader-text">InsertingOne</span>
            </a>
        </div>
        <fieldset></fieldset>
        <div class="feedback">
        </div>
    </div>
    <aside class="list">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Naam
                    </th>
                </tr>
            </thead>
            <tbody>
@foreach (var item in Model)
    {
                <tr>
                    <td>
@item.Name
</td>
<td>
    <a href="/EventTopic/ReadingOne/@item.Id">Details</a>
</td>
        </tr>
}
</tbody>
</table>
</aside>
</form>
