﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <span class="icon-menu2"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/EventTopic/InsertOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">EventTopic</h2>
            <button type="submit" value="/EventTopic/InsertOne" class="tile">
                <span class="icon-disk"></span>
                <span class="screen-reader-text">Insert One</span>
            </button>
            <a href="/EventTopic/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="EventTopic-Name">Naam</label>
                <input id="EventTopic-Name" name="EventTopic-Name" type="text" value="" required />
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Naam
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            <a href="/EventTopic/ReadingOne/@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </aside>
</form>
