﻿

@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<div class="control-panel">
    <a href="/Home/Index" class="tile _14x1">
        <span class="icon-menu2"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1>Fric-frac</h1>
</div>
<div class="show-room entity">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Country</h2>
            <a href="/Country/UpdatingOne/@Model.Id" class="tile">
                <span class="icon-pencil"></span>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/Country/InsertingOne" class="tile">
                <span class="icon-plus"></span>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a href="/Country/DeleteOne/@Model.Id" class="tile">
                <span class="icon-remove"></span>
                <span class="screen-reader-text">Delete One</span>
            </a>
            <a href="/Country/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="Country-Name">Naam</label>
                <input id="Country-Name" name="Country-Name" type="text" value="@Model.Name" readonly>
            </div>
            <div>
                <label for="Country-Code">Code</label>
                <input id="Country-Code" name="Country-Code" type="text" value="@Model.Code" readonly />
            </div>
            <div>
                <label for="Country-Desc">Desc</label>
                <textarea id="Country-Desc" name="Country-Desc" readonly>@Model.Desc</textarea>
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</div>
