﻿
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Book

<h1>Books</h1>

<table class="list">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Year
            </th>
            <th>
                City
            </th>
            <th>
                Publisher
            </th>
            <th>
                Author
            </th>
            <th>
                Edition
            </th>
            <th>
                Translator
            </th>
            <th>
                Comments
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Year
            </td>
            <td>
                @item.City
            </td>
            <td>
                @item.Publisher
            </td>
            <td>
                @item.Author
            </td>
            <td>
                @item.Edition
            </td>
            <td>
                @item.Translator
            </td>
            <td>
                @item.Comments
            </td>
        </tr>
        }
    </tbody>
</table>