﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "About Me";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Ik ben afgestudeerd in Electro Mechanica</p>
<article>
    <section>
        <figure>
            <img src="~/images/autodesk-autocad-mechanical.jpg" alt="autodesk tekening" />
            <figcaption>autodesk-autocad-mechanical-drawing</figcaption>
        </figure>
        <div>
            <p>
                Na mijn studies ben ik begonnen als cableur van laagspanningsborden.
                vooral het uittekenen van de borden was mijn ding.
                hier ging ik me dan ook in verdiepen tot ik tot ik een volleerd autocad tekenaar werd.
                Mijn eerste versie was Release R10.(1990)
            </p>
        </div>
    </section>
    <section>
        <div>
            <p>
                Later heb ik dan ondekt dat er via Autocad veel mogelijkheden waren om deze software te automatiseren.
                eerst waren dit LISP routinnes en VBA in Autocad versie 2000.
                Deze brachten het werktempo zeer aanzienlijk omhoog.
            </p>
            <p>
                In versie 2010 ben ik gaan experimenteren met de .net versie in C#.
                Maar mijn kennis was te beperkt vandaar dat ik begonnen ben met avondschool bij CVO Antwerpen.
            </p>
        </div>
        <figure>
            <img src="../images/Autodeskcode.JPG" alt="Autodesk .net code" />
            <figcaption>Autodesk .net code</figcaption>
        </figure>
    </section>
    <section>
        <figure>
            <img src="../images/Data-center.jpg"
                 alt="Ontwerp voor een datacenter" />
            <figcaption>Ontwerp voor een datacenter</figcaption>
        </figure>
        <div>
            <p>
                profissioneel ben ik doorgegroeid tot Project manager in de Data bekabeling infrastructuur.
                12 Jaar bij Simac NV. en onlangs veranderd naar Engie Fabricom
            </p>
            <p>
                Hierbij ben ik momenteel gespecialiseerd in DataCenters.
                Zowel de glasvezel verbindingen (Singlemode / multimode) als de koperverbindingen.(Cat 6A en meer).
                Datacenters Waar ik al voor gewerkt heb zijn:
                KBC (hongarije), Base ,Telenet ,Belgocontrol ,Euroclaer ,Europese Raad en BNP Fortis.
            </p>
        </div>
    </section>
</article>
